[build]
  command   = "ng build --configuration production"
  publish   = "dist/UoNTourneys"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
