[build]
  command   = "npm run build"
  publish   = "dist/uo-ntourneys/browser"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
